<div class="cardsEspancion">
    <mat-accordion style="margin-right: 30px; margin-bottom: 20px;">
        <mat-expansion-panel hideToggle
            style="width: 300px; color: black; border: 1px solid white; background-color: rgb(249, 249, 249);">
            <mat-expansion-panel-header style="height: 150px;">
                <mat-panel-title style="display: flex; align-items: center; justify-content: center;">
                    <div class="imagemMaterial">
                        <img src="../../../assets/angular.png" alt="imagem" />
                        <h1 class="tituloCard">
                            Saiba mais...<mat-icon>expand_more</mat-icon></h1>
                    </div>

                </mat-panel-title>

            </mat-expansion-panel-header>
            <div class="conteudo">
                <h1>AngularJS é um framework JavaScript código aberto, mantido pelo Google, que auxilia na execução de
                    single-page applications</h1>
            </div>
        </mat-expansion-panel>

    </mat-accordion>

    <mat-accordion style="margin-right: 30px; margin-bottom: 20px;">
        <mat-expansion-panel hideToggle
            style="width: 300px; color: black; border: 1px solid white; background-color: rgb(249, 249, 249);">
            <mat-expansion-panel-header style="height: 150px;">
                <mat-panel-title style="display: flex; align-items: center; justify-content: center;">
                    <div class="imagemMaterial">
                        <img src="../../../assets/angular.png" alt="imagem" />
                        <h1 class="tituloCard">
                            Saiba mais...<mat-icon class="icon">expand_more</mat-icon></h1>
                    </div>

                </mat-panel-title>

            </mat-expansion-panel-header>
            <div class="conteudo">
                <h1>add conteudo aqui</h1>
            </div>
        </mat-expansion-panel>

    </mat-accordion>

    <mat-accordion style="margin-right: 30px; margin-bottom: 20px;">
        <mat-expansion-panel hideToggle
            style="width: 300px; color: black; border: 1px solid white; background-color: rgb(249, 249, 249);">
            <mat-expansion-panel-header style="height: 150px;">
                <mat-panel-title style="display: flex; align-items: center; justify-content: center;">
                    <div class="imagemMaterial">
                        <img src="../../../assets/angular.png" alt="imagem" />
                        <h1 class="tituloCard">
                            Saiba mais...<mat-icon>expand_more</mat-icon></h1>
                    </div>

                </mat-panel-title>

            </mat-expansion-panel-header>
            <div class="conteudo">
                <h1>add conteudo aqui</h1>
            </div>
        </mat-expansion-panel>

    </mat-accordion>

    <mat-accordion style="margin-right: 30px; margin-bottom: 20px; ">
        <mat-expansion-panel hideToggle
            style="width: 300px; color: black; border: 1px solid white; background-color: rgb(249, 249, 249);">
            <mat-expansion-panel-header style="height: 150px;">
                <mat-panel-title style="display: flex; align-items: center; justify-content: center;">
                    <div class="imagemMaterial">
                        <img src="../../../assets/angular.png" alt="imagem" />
                        <h1 class="tituloCard">
                            Saiba mais...<mat-icon>expand_more</mat-icon></h1>
                    </div>

                </mat-panel-title>

            </mat-expansion-panel-header>
            <div class="conteudo">
                <h1>add conteudo aqui</h1>
            </div>
        </mat-expansion-panel>

    </mat-accordion>
</div>