<div class="cardsEspancion">
    <mat-accordion style="margin-right: 30px; margin-bottom: 20px;">
        <mat-expansion-panel hideToggle
            style="width: 300px; color: black; border: 1px solid white; background-color: rgb(249, 249, 249);">
            <mat-expansion-panel-header style="height: 150px;">
                <mat-panel-title style="display: flex; align-items: center; justify-content: center;">
                    <div class="imagemMaterial">
                        <img class="img-angular" src="../../../assets/angular.png" alt="imagem" />
                        <h1 class="tituloCard">
                            Saiba mais...<mat-icon>expand_more</mat-icon></h1>
                    </div>

                </mat-panel-title>

            </mat-expansion-panel-header>
            <div class="conteudo">
                <h1>Angular é uma plataforma de aplicações web de código-fonte aberto e front-end baseado em TypeScript liderado pela Equipe Angular do Google e por uma comunidade de indivíduos e corporações. Angular é uma reescrita completa do AngularJS, feito pela mesma equipe que o construiu.</h1>
            </div>
        </mat-expansion-panel>

    </mat-accordion>

    <mat-accordion style="margin-right: 30px; margin-bottom: 20px;">
        <mat-expansion-panel hideToggle
            style="width: 300px; color: black; border: 1px solid white; background-color: rgb(249, 249, 249);">
            <mat-expansion-panel-header style="height: 150px;">
                <mat-panel-title style="display: flex; align-items: center; justify-content: center;">
                    <div class="imagemMaterial">
                        <img  class="img-js" src="../../../assets/js.png" alt="imagem" />
                        <h1 class="tituloCard">
                            Saiba mais...<mat-icon class="icon">expand_more</mat-icon></h1>
                    </div>

                </mat-panel-title>

            </mat-expansion-panel-header>
            <div class="conteudo">
                <h1>JavaScript é uma linguagem de programação interpretada estruturada, de script em alto nível com tipagem dinâmica fraca e multiparadigma. Juntamente com HTML e CSS, o JavaScript é uma das três principais tecnologias da World Wide Web.</h1>
            </div>
        </mat-expansion-panel>

    </mat-accordion>

    <mat-accordion style="margin-right: 30px; margin-bottom: 20px;">
        <mat-expansion-panel hideToggle
            style="width: 300px; color: black; border: 1px solid white; background-color: rgb(249, 249, 249);">
            <mat-expansion-panel-header style="height: 150px;">
                <mat-panel-title style="display: flex; align-items: center; justify-content: center;">
                    <div class="imagemMaterial">
                        <img class="img-sass" src="../../../assets/sass.png" alt="imagem" />
                        <h1 class="tituloCard">
                            Saiba mais...<mat-icon>expand_more</mat-icon></h1>
                    </div>

                </mat-panel-title>

            </mat-expansion-panel-header>
            <div class="conteudo">
                <h1>O SASS é uma linguagem de extensão do CSS, a sigla significa “Syntactically Awesome Style Sheets” traduzindo ao pé da letra, folhas de estilo com uma sintaxe incrível. A sua ideia é adicionar recursos especiais como variáveis, mixins, funções e operações e outras opções variadas que iremos comentar.</h1>
            </div>
        </mat-expansion-panel>

    </mat-accordion>

    <mat-accordion style="margin-right: 30px; margin-bottom: 20px; ">
        <mat-expansion-panel hideToggle
            style="width: 300px; color: black; border: 1px solid white; background-color: rgb(249, 249, 249);">
            <mat-expansion-panel-header style="height: 150px;">
                <mat-panel-title style="display: flex; align-items: center; justify-content: center;">
                    <div class="imagemMaterial">
                        <img class="img-node" src="../../../assets/node.png" alt="imagem" />
                        <h1 class="tituloCard">
                            Saiba mais...<mat-icon>expand_more</mat-icon></h1>
                    </div>

                </mat-panel-title>

            </mat-expansion-panel-header>
            <div class="conteudo">
                <h1>Node.js é um software de código aberto, multiplataforma, baseado no interpretador V8 do Google e que permite a execução de códigos JavaScript fora de um navegador web. A principal característica do Node.js é sua arquitetura assíncrona e orientada por eventos.</h1>
            </div>
        </mat-expansion-panel>

    </mat-accordion>
</div>