<div class="container">
    <div class="caixa__login">
        <h2>code review</h2>
        <form>
            <div class="caixa__login-input">
                <input type="text" required />
                <label>Email</label>
            </div>
            <div class="caixa__login-input">
                <input type="password" required />
                <label>Senha</label>
            </div>
            <a (click)="rotaHome()">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                Acessar
            </a>
        </form>
    </div>

</div>
