<div class="container">
    <div class="caixa__login">
        <h2>code review</h2>
        <form>
            <div class="caixa__login-input">
                <input [(ngModel)]="requestLogin.login" type="text" name="login" required />
                <label>Usuario</label>
            </div>
            <div class="caixa__login-input">
                <input [(ngModel)]="requestLogin.password" type="password" name="password" required />
                <label>Senha</label>
            </div>
            <a (click)="doLogin()">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                Acessar
            </a>
        </form>
    </div>

</div>